html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body {
    background-color: aqua;
}
ul {
    list-style-type: none;
    margin: 50px 0px 0px 0px;
    padding: 0;
    display: flex;
    justify-content: center;
}
ul li {
    display: inline;
    margin-left: 5px;
    padding: 0px 25px 15px 25px;
    background-color: yellow;
    border: 5px solid blue;
}
.card {
    width: 33.33%;
    height: 700px;
    margin-top: 30px;
    float: left;
}
.card p {
    margin: 10px 5px 0px 5px;
    text-align: center;
    font-size: 30px;
}
.grey-card {
    background-color: grey;
}
.grey-card p {
    color: aqua;
}
.yellow-card {
    background-color: yellow;
}
.blue-card {
    background-color: blue;
}
.blue-card p {
    color: yellow;
}
.footer-paragraph {
    margin-top: 10px;
}
.footer-paragraph p {
    color: yellow;
    text-align: center;
}